:root {
  --main_blue: #4282aa;
  --soft_blue: #175873;
  --soft_green: #8cb89f;
  --main_white: #ffffff;
  --heavy_blue: #193046;
  --ocean_blue: #00a8a8;
  --red: #c60b0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main_white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 50vw;
  text-align: center;
  scroll-behavior: smooth;
  margin: auto;
}

h1 {
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  text-align: start;
}

p {
  font-size: 16px;
  color: white;
}

form {
  padding: 30px;
  display: grid;
  gap: 2px;
  width: 40vw;
  height: 50vw;
  grid-template-rows: repeat(4, 1fr);
  background-color: transparent;
  border-radius: 10%;
}

fieldset {
  border: none;
  display: grid;
  gap: 0;
}

fieldset.numbers,
fieldset.signs_results,
fieldset.memory {
  grid-template-columns: repeat(4, 1fr);
}

fieldset.signs {
  grid-template-columns: repeat(1, 1fr);
}

fieldset.results_all {
  height: 100%;
  grid-template-rows: repeat(2, 1fr);
}

textarea.numeros,
textarea.numeros_unique {
  font-size: 30px;
  text-indent: 5%;
  display: block;
  resize: none;
  border-radius: 5px;
}

textarea.numeros {
  background-color: var(--heavy_blue);
  color: #ffffff;
  font-weight: bolder;
  height: 50px;
}

textarea.numeros_unique {
  background-color: white;
  color: grey;
  border: none;
  font-weight: 500;
  height: 35px;
}

button {
  margin: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: none;
  border-radius: 5px;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button.sign,
button.memory,
button.historic,
button.sign_equalos,
button.sign_deletos,
button.numeros {
  height: 80px;
  width: 120px;
}

button.numeros {
  background-color: #4282aa;
  color: #ffffff;
}

button.sign {
  background-color: var(--soft_green);
  color: #ffffff;
}

button.memory {
  background-color: var(--soft_blue);
  color: #ffffff;
}

button.historic {
  background-color: var(--main_white);
  color: #193046;
}

button.sign_equalos {
  background-color: var(--heavy_blue);
  color: #ffffff;
}

button.sign_deletos {
  background-color: var(--red);
  color: #ffffff;
}

.popup {
  position: fixed;
  display: none;
  width: 30%;
  height: 50%;
  z-index: 1;
  background-color: var(--heavy_blue);
  border-radius: 10px;
}

.popup_content {
  background-color: white;
  color: #175873;
  margin: 50px 10px;
  height: 80%;
  border-radius: 10px;
  z-index: 1;
}

button.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5%;
  height: 5%;
  font-size: 18px;
  color: #c60b0b;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.calculations_history {
  list-style-type: none;
  display: list-item;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.previous_calculation {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1080px) {
  body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--main_white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 50vw;
    text-align: center;
    scroll-behavior: smooth;
  }

  h1 {
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-top: 120px;
  }

  form {
    padding: 30px;
    display: grid;
    gap: 2px;
    width: 60vw;
    height: 50vw;
    grid-template-rows: repeat(4, 1fr);
    background-color: transparent;
    border-radius: 10%;
  }
}

@media only screen and (max-width: 720px) {
  body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--main_white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vw;
    text-align: center;
    scroll-behavior: smooth;
    margin: auto;
  }

  h1 {
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-top: 200px;
  }

  form {
    padding: 30px;
    display: grid;
    gap: 2px;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    background-color: transparent;
  }

  button {
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }

  button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  button.sign,
  button.memory,
  button.historic,
  button.sign_equalos,
  button.sign_deletos,
  button.numeros {
    height: 50px;
    width: 90px;
  }

  textarea.numeros {
    background-color: var(--heavy_blue);
    color: #ffffff;
    font-weight: bolder;
    height: 40px;
  }

  textarea.numeros_unique {
    background-color: white;
    color: grey;
    border: none;
    font-weight: 500;
    height: 40px;
  }

  .popup {
    position: fixed;
    display: none;
    width: 70%;
    height: 50%;
    z-index: 1;
    background-color: var(--heavy_blue);
    border-radius: 10px;
  }

  .popup_content {
    background-color: white;
    color: #175873;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    z-index: 1;
  }

  button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 5%;
    height: 5%;
    font-size: 14px;
    color: #c60b0b;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
  }
}


@media only screen and (max-width: 450px) {
  button {
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }

  button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  button.sign,
  button.memory,
  button.historic,
  button.sign_equalos,
  button.sign_deletos,
  button.numeros {
    height: 60px;
    width: 70px;
  }

  .popup {
    position: fixed;
    display: none;
    width: 70%;
    height: 50%;
    z-index: 1;
    background-color: var(--heavy_blue);
    border-radius: 10px;
    margin-top: 20px;
  }

  .popup_content {
    background-color: white;
    color: #175873;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    z-index: 1;
  }

  button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 5%;
    height: 5%;
    font-size: 14px;
    color: #c60b0b;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
  }

  body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--main_white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vw;
    text-align: center;
    scroll-behavior: smooth;
    margin: 0 auto;
  }

  h1 {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-top: 180px;
  }

  form {
    padding: 30px;
    display: grid;
    gap: 2px;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    background-color: transparent;
  }
}
